.top-banner {
  justify-content: space-between;
  display: flex;
}

.text-container {
  margin-left: 20px;
  margin-right: 20px;
}

.image-container {
  margin-left: 20px;
  margin-right: 20px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  font-family: "Oswald", sans-serif;
  padding: 0;
  margin: 0;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #BF5700;
  color:#FFF;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab.active {
  background-color: #FFA500;
}

.tab:hover {
  background-color: #FFDBBB;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

footer {
  background-color: #BF5700;
  color:#FFF;
  text-align: center;
  font-family: "Oswald", sans-serif;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}